<!--
This file renders a form to edit the details of an existing book in the library.
It displays the current details of the book and allows the user to update the title, author,
publication year, and genre. Upon submission, the form sends the updated details to the server
to update the book in the library. A link to navigate back to the list of books is also provided.
-->

<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <div class="container">
        <h1>Edit Book: {{ book.title }}</h1>
        <form action="/edit/{{ book.title }}" method="post">
            New Title: <input type="text" name="new_title" value="{{ book.title }}"><br>
            Author: <input type="text" name="author" value="{{ book.author }}"><br>
            Year: <input type="text" name="year" value="{{ book.publication_year }}"><br>
            Genre: <input type="text" name="genre" value="{{ book.genre }}"><br>
            <br><input type="submit" value="Update Book">
        </form>
        <footer>
            <br><a href="/books">Back to Books</a>
        </footer>
     </div>
</body>
</html>
