<!--
This file serves as the home page for the Library application.
It provides links to navigate to the Library, Personal collection of books, and Librarians page.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Library Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Library</h1><br><br><br>
        <a href="/books">Enter Library</a><br>
        <br><br><a href="/personal_library">Personal Books Collection</a>
        <br><br><br><a href="/librarians">Manage Books</a>
    </div>
</body>
</html>
